{% load static %}


<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title> Django REST MPTT Serializing examples </title>


</head>
<body>    
    
    <br>
    Django REST MPTT Serializing examples:
    <br>
    <br>
    <br> 
    <a href="{% url 'risk:nested' %}">Nested serializer 	
    <br>
    <a href="{% url 'risk:nested2' %}">Nested serializer 2	
    <br>
    <a href="{% url 'risk:tree' %}">Django-serialize-recursive  	
    <br>
    <a href="{% url 'risk:list' %}">Simple list  	
    <br>




</body>
</html>