{% extends 'base.html' %}

{% load static %}

{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title> Django REST MPTT Serializing examples </title>

</head>
<body>    
  


    <br>
    MPTT Example
    <br>
    <br>
    TREES:

    <br>


    <a href="/risk/">Risks</a>
    <br> 
    <a href="/responses_list">Responses</a>
    <br>        

    <br>

    CRUD:

    <br>
    <a href="/risk/create/">Create</a>
    <br>
    <a href="/risk/2/">Read #2 </a>
    <br>
    <a href="/risk/2/update/">Update#2 (bug)</a>
    <br>
    <a href="/risk/10/delete/">Delete #10</a>
    <br>
    <a href="/risk/5/move/">Move #5</a>
    <br>
    <a href="/admin/risk/">Admin</a>
    <br>


    <br> 

    REST API:
    <br> 
    <a href="{% url 'risk-api:risktree' %}">Nested-serialize-recursive</a>
    <br> 
    <br> 

    DASHBOARDS:
    <br> 
    <a href="/risk/animals/">Risk & Responses</a> (how to dynamically filter table according to the category in URL ?)
</body>
</html>

{% endblock %}

