{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title> Django REST MPTT Serializing examples </title>

</head>
<body>    
    
    <br>
    MPTT:

    <br>
    <a href="/admin/risk/risk/">Admin</a>
    <br>
    <a href="/risk/">List</a>
    <br>
    <br>
    <br> 

    CRUD:

    <br>
    <a href="/risk/create/">Create</a>
    <br>
    <a href="/risk/2/">Detail</a>
    <br>
    <a href="/risk/2/move/">Move</a>
    <br>
    <br> 

    REST API:
    <br> 
    <a href="{% url 'risk-api:risktree' %}">Nested-serialize-recursive</a> 

</body>
</html>